/* Fonts */
#fonts{

}
.arial{
    font-family: "Arial";
}
.times{
    font-family: "Times New Roman";
}




/* Index styling */
.linkdisperse{
    display: flex;
    justify-content: space-between;
}
#content-page{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.text{
    flex:2 1 66%;
}
.image{
    flex:1 1 33%;
    background: blue;
}

.image img{
    width: auto;
}

.bottomcontent{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 8px;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.column{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.column2{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%
}

/* Login Styling */

#logincontainer{
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logincontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.username{

}

.password{
    flex-grow: 2;
}
#registercontainer{
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#registercontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.username{

}

.password{
    flex-grow: 2;
}

#box-changepass{
    display: flex;
    align-items: center;
    justify-content: center;
}
#changepassword{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.opassword{
    flex-grow: 2;
}
.npassword{

}

/* Forum Styling */

#topbar{
    display: flex;
    justify-content: center;
}

#forum-title{
    flex: 1 1 75%;
    justify-content: center;

}
#right-top-bar-loggedin{
    display: flex;
    flex: 1 1 auto;
}
#right-top-bar-guest{
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
}
#notification{
    flex: 1 1 auto;
}

#account{
    flex: 1 1 auto;
}

.settings{
}

#login{
    flex: 1 1 auto
}

#changepassword{
    display: flex;
}

/* Container used for text on the bottom of the screen */
#container {
    position:relative;
}
#container > * {
    position:absolute;
}
.bottomright{
    position:fixed;
    bottom:0px;
    right:16px;
    font-size:18px;
}
.bottom{
    position:fixed;
    bottom:0px;
    font-size:18px;
}
#passuc{
    color: green;
}
#paserror{
    color: red;
}