/* Index styling */
.linkdisperse{
    display: flex;
    justify-content: space-between;
}
#content-page{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.text{
    flex:2 1 66%;
}
.image{
    flex:1 1 33%;
    background: blue;
}

.image img{
    width: auto;
}

.bottomcontent{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 8px;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.column{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.column2{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%
}

/* Login Styling */

#logincontainer{
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logincontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.username{

}

.password{
    flex-grow: 2;
}

/* Forum Styling */

#topbar{
    display: flex;
    justify-content: center;
}

#forum-title{
    flex: 1 1 auto;

}
#notification{
    flex: 1 1 auto;
}

#account{
    flex: 1 1 auto;
}

.settings{
}