/* Index styling */
.linkdisperse{
    display: flex;
    justify-content: space-between;
}
#content-page{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.text{
    flex:2 1 66%;
}
.image{
    flex:1 1 33%;
    background: blue;
}

.image img{
    width: auto;
}

.bottomcontent{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 8px;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.column{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.column2{
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%
}

/* Login Styling */

#logincontainer{
    height: 10em;
    display: flex;
    align-content: center;  
}
#logincontainer div{
    margin: 0;
}
#logincontainer2{
    align-content: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    margin-right: -50%;
}
.username{
    padding:20px;
}

.password{
    flex-grow: 2;
}